@use "../../../assets/scss/main" as *;

@include buildStates(".dropdownList") using ($slot) {
    @if $slot == "idle" {
        overflow-y: auto;
        width: 100%;
        display: grid;
        padding: unit(1.8) 0;
        background-color: token("bg-idle");
        overscroll-behavior: contain;
        border: solid unit(0.2) transparent;
        border-radius: 0 0 unit(2) unit(2);
        transition: all 0.2s ease;

        height: 0;
        opacity: 0;
        max-height: 0;

        pointer-events: none;
        user-select: none;
        opacity: 0;

        .dropdownListItem {
            pointer-events: none;
            user-select: none;
            opacity: 0;
        }
    }

    @if $slot == "selected" {
        background-color: token("bg-selected");
    }
    @if $slot == "hover" {
        color: token("fg-hover");
    }
    @if $slot == "focusWithin" {
        border: solid unit(0.2) token("border-focus-within");
    }
    @if $slot == "focus" {
        outline: solid unit(0.2) token("outline-focus");
    }
    @if $slot == "pressed" {
        background-color: token("bg-pressed");
    }
    @if $slot == "active" {
        height: unit(27.6);
        max-height: unit(27.6);
        
        pointer-events: all;
        user-select: all;
        opacity: 1;

        .dropdownListItem {
            pointer-events: all;
            user-select: all;
            opacity: 1;
        }
    }
    @if $slot == "highlighted" {
        background-color: token("bg-highlighted");
    }
    @if $slot == "disabled" {
        background-color: token("bg-disabled");
    }
}
