@use "sass:map";

$const-aspects: (
    narrow: (
        ratio: "9/64",
        unit: 1lvh,
    ),
    square: (
        ratio: "2/3",
        unit: 1lvh,
    ),
    wide: (
        ratio: "4/3",
        unit: 1lvh,
    ),
);
