@use "sass:map";

$const-fonts: (
    open-sans-bold: (
        family: Open Sans,
        weight: 600,
        style: normal,
        ascent: 106.884766,
        cap-height: 71.386719,
        ex-height: 53.515625,
        descent: 29.296875,
        line-gap: 0,
        size: 100,
    ),
);
