@use "../../../../src/assets/scss/main" as *;

@include buildStates(".dropdown") using ($slot) {
    @if $slot == "idle" {
        position: relative;
        overflow: visible;
        height: unit(10);
        width: unit(24);
        z-index: 1;
        transition: all 0.2s ease;

        .button {
            @include styleBody;
            overflow: visible;
            height: 100%;
            width: 100%;
            place-items: center start;
            padding: 0 unit(1.8);
            background-color: token("bg-idle");
            color: token("fg-idle");
            border: solid unit(0.2) transparent;
            border-radius: unit(1);
            transition: all 0.2s ease;
        }

        .term {
            @include styleCaption;
            pointer-events: none;
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            place-items: center;
            padding: 0 unit(1.8);
            color: token("fg-inverse");
            opacity: 0;
            transition: all 0.2s ease;
        }
    }

    @if $slot == "selected" {}
    @if $slot == "hover" {
        .button {
            color: token("fg-hover");
        }
    }
    @if $slot == "focusWithin" {
        .button {
            border: solid unit(0.2) token("border-focus-within");
        }
    }
    @if $slot == "focus" {
        .button {
            outline: solid unit(0.2) token("outline-focus");
        }
    }
    @if $slot == "pressed" {
        .button {
            background-color: token("bg-pressed");
        }
    }
    @if $slot == "active" {
        z-index: 10;
        filter: drop-shadow(0 0 unit(0.5) token("shadow-active"));

        .button {
            border-radius: unit(1) unit(1) 0 0;
        }

        .term {
            opacity: 1;
        }
    }
    @if $slot == "highlighted" {
        .button {
            background-color: token("bg-highlighted");
        }
    }
    @if $slot == "disabled" {
        .button {
            background-color: token("bg-disabled");
            color: token("fg-disabled");
        }

        .term {
            opacity: 0;
        }
    }
}
