@use "sass:map";

$const-themes: (
    light: (
        bg-idle: #ccc,
        bg-selected: #aaa,
        bg-pressed: #888,
        bg-highlighted: #666,
        bg-disabled: #333,
        shadow-active: #000,
        fg-idle: #555,
        fg-hover: #000,
        fg-inverse: #ccc,
        border-focus-within: #0a0,
        outline-focus: #a00,
        accent1: #f00,
        accent2: #ff0,
        accent3: #0f0,
        accent4: #00f,
        accent5: #f0f,
    ),
    dark: (
        bg-idle: #111,
        bg-selected: #333,
        bg-pressed: #444,
        bg-highlighted: #666,
        bg-disabled: #000,
        shadow-active: #fff,
        fg-idle: #999,
        fg-hover: #fff,
        fg-inverse: #333,
        border-focus-within: #0aa,
        outline-focus: #0aa,
        accent1: #f00,
        accent2: #ff0,
        accent3: #0f0,
        accent4: #00f,
        accent5: #f0f,
    ),
    cyncly: (
        bg-stone: #f9f6f4,
        bg-blue: #292bff,
        bg-blue-hover: #0002d6,
        border-light: #ebe6e7,
        text-primary: #000000,
        text-inverse: #ffffff,
        bg-shadow: #00000033,
        outline-focus: #292bff,
    ),
);
