@use "../../../../src/assets/scss/main" as *;

@include buildStates(".dropdownListItem") using ($slot) {
    @if $slot == "idle" {
        display: flex;
        align-items: center;
        height: unit(8);
        width: 100%;
        padding: 0 unit(1.8);
        border: solid unit(0.2) transparent;
        background: token("bg-idle");
        user-select: none;
        transition: all 0.2s ease;

        .text {
            @include styleBody;
            user-select: none;
            pointer-events: none;
            color: token("fg-idle");
            transition: all 0.2s ease;
        }
    }
    @if $slot == "selected" {
        background: token("bg-selected");
    }
    @if $slot == "hover" {
        .text {
            color: token("fg-hover");
        }
    }
    @if $slot == "focusWithin" {
        border: solid unit(0.2) token("border-focusWithin");
    }
    @if $slot == "focus" {
        outline: solid unit(0.2) token("border-focus");
    }
    @if $slot == "pressed" {
        background: token("bg-pressed");
    }
    @if $slot == "active" {
        background: token("bg-active");
    }
    @if $slot == "highlighted" {
        background: token("bg-highlighted");
    }
    @if $slot == "disabled" {
        user-select: none;
        background: token("bg-disabled");
    }
}
